@media screen and (max-width:500px){
  .nav-bar .menu-btn{
    display: block;
  }
  .nav-bar .sign-out-btn,nav .nav-item li a{
    display:none;
  }
}
@supports(backdrop-filter: blur(2rem)){
    .menu-list{
      background:  rgb(224, 217, 204);
      backdrop-filter: blur(3rem);
    }
    .sign-in form{
      background:  rgb(224, 217, 204);
      backdrop-filter: blur(3rem);
    }
    .talk-to-us form{
      /* background: rgba(105, 103, 103, 0.1); */
      background: orange;
      backdrop-filter: blur(10rem);
    }
  }